<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<style>
  ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin-bottom: 20px;
  }

  blockquote {
    margin-left: 0;
    padding-left: 12px;
    border-left: 4px solid #03a9f4;
  }

  h2 {
    margin: 0;
    font-weight: 300;
  }
</style>
<body>
  <div id="app">
    <vuetch :default-data="{}" :url="'/mock/npms.json?q=' + query">
      <template scope="props">
        <form>
          <input type="search" v-model="query">
          <button type="submit" @click.prevent="props.$load">search</button>
        </form>

        <div v-if="props.loading">loading...</div>
        <ul>
          <li v-for="pkg in props.data.results">
            <h2>{{ pkg.package.name }}</h2>
            <blockquote>{{ pkg.package.description }}</blockquote>
            <a :href="pkg.package.links.npm">npm</a>
            <a :href="pkg.package.links.repository">repository</a>
          </li>
        </ul>
      </template>
    </vuetch>
  </div>
</body>
<script src="node_modules/vue/dist/vue.js"></script>
<script src="dist/vuetch.js"></script>
<script>
  new Vue({
    el: '#app',

    data: { query: '' }
  })
</script>
</html>